.footer {
    background: linear-gradient(
        90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    width: 100%;
    padding: 2em;
    color: #fff;
  }

  .social-logo{
    color: #fff;
    text-decoration: none;
  }
  
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
  }

  .social-icon-link {
      font-size: 25px;
      text-decoration: none;
      color: #fff;
  }